$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

.modal-header{
	 background:$background-dark;
	 color:#fff;
	 .close{
	 	color:#fff;
	 	opacity:1;
	 }
}

.modal-footer{
	 background:$background-light;
}

.modal-body{
	 background:$background-pale;
}